.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #271a0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: #3b2712;
  color: white;
  border-color: #4e3418;
  border-style: solid;
  font-weight: bold;
  font-size: 18px;
  height: 30%;
  width: 70%;
  margin: 40px;
}

button:hover{
  background-color: #271a0c;
  color: lightgray;
  border-color: white;
}

.widget{
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 30px 70px 30px;
}
